name: YAML Validator - CI

on:
  push:
    branches: ["main"]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r services/yaml-validator/app/requirements.txt
          pip install pytest

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD/services/yaml-validator" >> $GITHUB_ENV

      - name: Run tests
        env:
          PYTHONPATH: ${{ env.PYTHONPATH }}
        run: pytest services/yaml-validator/tests -q

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t sumanthmaddali/yaml-validator:latest services/yaml-validator

      - name: Push Docker image
        run: |
          docker push sumanthmaddali/yaml-validator:latest
